{% extends "main/base.html" %}

{% block content %}
<h3>Sign In</h3>
<p>Enter your email address and password to sign in.</p>

<div class="row">
    <div class="col s12 m5">
        <div class="card-panel">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p class="input-field">
                    {{ form.email.label }}<br>
                    {{ form.email(size=32, class_="validate") }}<br>
                    {% for error in form.email.errors %}
                    <span class="helper-text" data-error="[{{ error }}]" data-success=""></span>
                    {% endfor %}
                </p>
                <p class="input-field">
                    {{ form.password.label }}<br>
                    {{ form.password(size=32, class_="validate") }}<br>
                    {% for error in form.password.errors %}
                    <span class="helper-text" data-error="[{{ error }}]" data-success=""></span>
                    {% endfor %}
                </p>
                <p class="right-align">
                    <button type="submit" name="btn" class="waves-effect waves-light btn blue">
                    SIGN IN
                    </button>
                </p>
            </form>
        </div>
    </div>
</div>         
{% endblock %}