{% extends "main/base.html" %}

{% block content %}
<h3>Team</h3>
<p>Your team profile information.</p>

<div class="row">
    <div class="col s12 m8 l7">
        <div class="card-panel">
            <table>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td class="grey-text">{{ team.id }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ team.name }}</td>
                    </tr>                
                </tbody>
            </table>
            <p class="right-align">
                <a href="{{ url_for('auth.edit_team', team_id=team.id) }}">
                    <button type="submit" name="btn" class="waves-effect waves-light btn blue">
                        EDIT
                    </button>
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
