{% extends "main/base.html" %}

{% block content %}
<h3>Team</h3>
<p>Your team profile information.</p>

<div class="row">
    <div class="col s12 m8 l7">
        <div class="card-panel">
            <table>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td class="grey-text">{{ team.id }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ team.name }}</td>
                    </tr>                
                </tbody>
            </table>
            <p>
                <a href="{{ url_for('auth.edit_team', team_id=team.id) }}">
                    <button type="submit" name="btn" class="waves-effect waves-light btn blue">
                        EDIT
                    </button>
                </a>
            </p>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col s4">
        <h5>Users</h5>
    </div>
</div>
<div class="row">
    
    {% for member in team_members %}
    <div class="col s2">
        <div class="card-panel">
            <p>Name: {{ member.name }}</p>
            <p>Role: {{ member.role }}</p>
        </div>

    </div>
    
    {% endfor %}
</div>
<div class="row">
    <div class="col s2">
        <a href="{{ url_for('auth.invite_user', team_id=team.id) }}">
            <button type="submit" name="btn" class="waves-effect waves-light btn red">
                INVITE
            </button>
        </a>
    </div>
</div>


{% endblock %}
