{% extends "main/base.html" %}

{% block content %}
<h3>Teams</h3>

<div class="row">
    <div class="col s6">
        <p>A list of all of the teams you have access to.</p>
    </div>
    <div class="col s2 offset-s4 right-align">
        <a href="{{ url_for('teams.add_team') }}">
            <button type="submit" name="btn" class="waves-effect waves-light btn red">
                ADD TEAM
            </button>
        </a>
    </div>

</div>
<br>


<div class="row">
    
    {% for team in teams_list %}
    <div class="col s2">
        <a href="{{ url_for('teams.view_team', team_id=team.id) }}">
            <div class="card">
                <div class="card-content center-align team">
                    <span class="card-title">{{ team.name }}</span>
                </div>
                <div class="card-action">
                    <div class="right-align grey-text">{{ team.role }}</div>
                </div>
            </div>
        </a>

    </div>
    
    {% endfor %}
</div>


{% endblock %}
