{% extends "main/base.html" %}

{% block content %}
<h3>Team {{ team.name }}</h3>
<p>Your team profile information.</p>

<div class="col s6 m4">
    <a href="{{ url_for('teams.list_teams') }}">< Back to Teams</a>
</div>
<br>
<div class="row">
    {% if team.account_id %}
    <div class="col s12 m8 l7">
        <a href="{{ url_for('charts.facebook_dashboard') }}">
            <div class="card-panel">
                <i class="fa fa-facebook-f fa-lg blue-text"></i>
                &nbsp;Go to Facebook dashboard >
            </div>
        </a>    
    </div>
    <div class="col s12 m8 l7">
        <a href="{{ url_for('charts.dashboard') }}">
            <div class="card-panel">
                <i class="material-icons inline-icon">insert_chart</i>
                &nbsp;Go to Testing dashboard >
            </div>
        </a>    
    </div>
    {% else %}
    <div class="col s12 m8 l7">
        <a href="{{ url_for('teams.edit_team', team_id=team.id) }}">
            <div class="card-panel red lighten-4">
                Update your account ID
            </div>
        </a>   
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col s12 m8 l7">
        <div class="card-panel">
            <p>
                <a href="{{ url_for('connectors.list_connectors') }}">
                    <button type="submit" name="btn" class="waves-effect waves-light btn pink">
                        CONNECTORS
                    </button>
                </a>
            </p>
            
            <table>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td class="grey-text">{{ team.id }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ team.name }}</td>
                    </tr>
                    <tr>
                        <td>Account ID</td>
                        <td>{{ team.account_id }}</td>
                    </tr>
                    <tr>
                        <td>Conversion Event</td>
                        <td>{{ team.conversion_event }}</td>
                    </tr>                
                </tbody>
            </table>
            {% if role in ['ADMIN', 'OWNER'] %}
            <p>
                <a href="{{ url_for('teams.edit_team', team_id=team.id) }}">
                    <button type="submit" name="btn" class="waves-effect waves-light btn blue">
                        EDIT
                    </button>
                </a>
            </p>
            {% endif %}
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col s4">
        <h5>Team members</h5>
    </div>
</div>
<div class="row">
    
    {% for member in team_members %}
    <div class="col s2">
        <div class="card-panel">
            <p>{{ member.name }}</p>
            <p>{{ member.role }}</p>
            {% if role in ['ADMIN', 'OWNER'] %}
            <a href="{{ url_for('teams.remove_user', membership_id=member.membership_id) }}">
                <button type="submit" name="btn" class="waves-effect waves-light btn red">
                    REMOVE
                </button>
            </a>
            {% endif %}
        </div>

    </div>
    
    {% endfor %}
</div>
{% if role in ['ADMIN', 'OWNER'] %}
<div class="row">
    <div class="col s2">
        <a href="{{ url_for('teams.invite_user', team_id=team.id) }}">
            <button type="submit" name="btn" class="waves-effect waves-light btn orange">
                INVITE
            </button>
        </a>
    </div>
</div>
{% endif %}


{% endblock %}
