<div class="card-panel">
    <table class="striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Spend</th>
                <th>Clicks</th>
                <th>Impressions</th>
                <th>Conversions</th>
            </tr>
        </thead>
        <tbody>

        {% for row in data %}

            <tr>
                <td>{{ row['date'] }}</td>
                <td>{{ "${:,.2f}".format(row['spend']|float) }}</td>
                <td>{{ "{:,}".format(row['impressions']|int) }}</td>
                <td>{{ "{:,}".format(row['clicks']|int) }}</td>
                <td>{{ "{:,}".format(row['conversions']|int) }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>