<!-- NAVBAR -->
<nav class="z-depth-0 grey lighten-4">
    <div class="nav-wrapper container">
        <a href="{{ url_for('main.index') }}" class="brand-logo">
            <span class="grey-text">⚗️ <span class="hide-on-small-only">FireFlask</span></span>
        </a>
        <ul id="nav-mobile" class="right">
            {% if current_user.is_authenticated %}

            {% if session.team_name %}
            <li class="active">
                <a class="grey-text" href="{{ url_for('teams.view_team', team_id=session.team_id) }}">
                    <span class="hide-on-large-only">
                        <i class="material-icons">supervisor_account</i>
                    </span>
                    <span class="hide-on-med-and-down">
                        <i class="material-icons left">supervisor_account</i>
                        {{ session.team_name }}
                    </span>
                </a>
            </li>
            {% else %}
            <li>
                <a class="grey-text" href="{{ url_for('teams.list_teams') }}">
                    <i class="material-icons left">supervisor_account</i>
                    <span class="hide-on-med-and-down">Select Team</span>
                </a>
            </li>

            {% endif %}

            <!-- Dropdown Structure -->
            <ul id="dropdown" class="dropdown-content">
                <li id="main-index" class="index"><a href="{{ url_for('main.index') }}">Home</a></li>
                <li id="auth-view_profile"><a href="{{ url_for('auth.view_profile') }}">Profile</a></li>
                <li id="teams-list_teams"><a href="{{ url_for('teams.list_teams') }}">Teams</a></li>
                <li id="connectors-list_connectors"><a href="{{ url_for('connectors.list_connectors') }}">Connectors</a></li>
                <li class="divider"></li>
                <li>
                    <a href="{{ url_for('auth.sign_out') }}" class="grey-text">Sign Out</a>
                </li>
            </ul>
            <!-- Dropdown Trigger -->
            <li>
                <a class="dropdown-trigger grey-text" href="#!" data-target="dropdown">
                    <i class="material-icons left hide-on-large-only">menu</i>
                    <span class="hide-on-med-and-down">
                        Settings<i class="material-icons right">arrow_drop_down</i>
                    </span>
                </a>
            </li>

            {% else %}
            <li id="auth-sign_in">
                <a href="{{ url_for('auth.sign_in') }}" class="grey-text">Sign In</a>
            </li>
            <li id="auth-sign_up">
                <a href="{{ url_for('auth.sign_up') }}" class="waves-effect waves-light btn">Sign Up</a>
            </li>
            {% endif %}
        </span>
        </ul>
    </div>
</nav>