body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
#verify-email {
    padding: 5px;
    margin-bottom: 0px;
}
strong {
    font-weight:bold !important;
}
.team {
    height: 7em;
    overflow: hidden;
}