body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
#verify-email {
    padding: 5px;
    margin-bottom: 0px;
}
strong {
    font-weight:bold !important;
}
.team {
    height: 7em;
    overflow: hidden;
}
.row {
    margin-bottom: 0em;
}
#run-button {
    margin-top: 4.5em;
}
.date-field {
    margin-top: 4em;
}
.inline-icon {
    vertical-align: bottom;
}
.connector {
    height: 12em;
    overflow: hidden;
}
.connector-title {
    margin-bottom: 1em !important;
}