{% extends "main/base.html" %}

{% block content %}
<h3>Teams</h3>

<div class="row">
    <div class="col s6">
        <p>A list of all of the connectors to platform integrations.</p>
    </div>

</div>
<div class="col s6 m4">
    <a href="{{ url_for('teams.view_team', team_id=team.id) }}">< Back to Team page</a>
</div>
<br>


<div class="row">
    <div class="col s12 m6 l4">
        <a href="#">
            <div class="card">
                <div class="card-content center-align connector">
                    <span class="card-title connector-title">Facebook Ads</span>
                    <i class="fa fa-facebook-f fa-5x"></i>
                </div>
                <div class="card-action">
                    <p class="center-align">
                        <button type="submit" name="btn" class="waves-effect waves-light btn pink">
                        CONNECT
                        </button>
                    </p>
                </div>
            </div>
        </a>

    </div>
</div>

{% endblock %}